<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center>
        <img class="photo" class="center" src="/public/images/logo.png" alt="" />
      </center>
      <h1>
        Sam<span id='smallerText'>uel </span>Ste<span id='smallerText'>ven </span>Smi<span id='smallerText'>th</span><span id='smallerText2'> .github.io</span>
      </h1>
      <p> </p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <div class="sidebar-about">
      <center>
      <a href="mailto: samuel.smith@nottingham.ac.uk" class="fa fa-envelope-o"></a>
      <a href="https://www.nottingham.ac.uk/research/groups/hearingsciences/people/samuel.smith" class="fa fa-university"></a>
      <a href="https://github.com/samstesmi/" class="fa fa-github-square"></a>
      <a href="https://twitter.com/SamSteSmi" class="fa fa-twitter"></a>
      <a href="https://www.linkedin.com/in/samstesmi" class="fa fa-linkedin"></a>
      </center>
    </div>

  </div>
</div>
